{% extends 'base.html' %}
{% load price_format %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded shadow-sm" alt="{{ product.name }}">
        {% else %}
            <img src="https://via.placeholder.com/600x400" class="img-fluid rounded shadow-sm" alt="Нет фото">
        {% endif %}
    </div>

    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p class="text-muted">{{ product.category.name }}</p>
        <h4 class="text-success">{{ product.price|nice_price }}</h4>

        <p class="mt-4">{{ product.description }}</p>

        <form method="post" action="{% url 'cart_add' product.id %}" class="mt-4">
            {% csrf_token %}
            {% if product.get_sizes_list %}
            <div class="mb-3">
                <label for="size" class="form-label">Выберите размер</label>
                <select name="size" id="size" class="form-select form-select-sm" required>
                    <option value="">---</option>
                    {% for size in product.get_sizes_list %}
                        <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-cart-plus"></i> В корзину</button>
        </form>

        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary mt-3"><i class="bi bi-arrow-left"></i> Вернуться к каталогу</a>
    </div>
</div>
{% endblock %}
